# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Utilisateur\Documents\Informatique\programmation\developpement WEB\HTML et CSS\w3schools_items\Dropdown_in_Topnav\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
