# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Utilisateur\Documents\Informatique\programmation\developpement WEB\HTML et CSS\00- HTML CSS snippets\W3schools_how_to\automatic_slideshow\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
