# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Utilisateur\Documents\Informatique\programmation\developpement WEB\HTML et CSS\00- HTML CSS snippets\sticky_menu_reseaux_sociaux\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
