/* used colors */

/* Background-color index.html */
$bg_index: #C9C19F;

/* Green colors */
$green100: #475a3e;
$green200: #8FEC64;
$green300: #CAF878;

/* Grey colors */
$grey100: #333;
$grey200: #696969;
$grey300: #8C89A2;



/* Breakpoints */
$breakpoints: (
        "md": 768px,
        "lg": 992px
);