# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Utilisateur\Documents\Informatique\programmation\developpement WEB\HTML et CSS\00- HTML CSS snippets\centrer_en_css_YT_Grafikart\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
